---
import BaseLayout from "@layouts/BaseLayout.astro";
import "../lib/styles/typography.css";

const title = "About Us";
const description = "Learn more about us";
---

<BaseLayout {title} {description}>
    <main class="wrapper py">
        <div class="typography">
            <h1 class="heading">{title}</h1>
            <p>
                This is my humble attempt at being a blogger, writing about
                topics i find interesting and wish to spread those ideas and
                information into the world.
            </p>
            <p>
                Writing helps me to better understand the topic and being
                mindfull of nuances associated with those ideas as well.
            </p>
            <p>I am hopping for a wonderful start!</p>
        </div>
    </main>
</BaseLayout>

<style>
    h1 {
        font-size: var(--fs-7);
    }
</style>
