---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "About Us";
const description = "Learn more about us";
---

<BaseLayout {title} {description}>
  <main class="wrapper py">
    <h1>{title}</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
      aut repellat sed rerum voluptates dolore. Error fugiat nisi atque officiis
      quo pariatur tenetur saepe, consectetur quisquam, excepturi, ut doloribus
      deserunt.
    </p>
  </main>
</BaseLayout>

<style>
  h1 {
    font-size: var(--fs-7);
  }
</style>
