---
import BaseLayout from "@layouts/BaseLayout.astro";
import "../lib/styles/typography.css";

const title = "Editorial Policy";
const description = "Our editorial policy";
---

<BaseLayout {title} {description}>
  <main class="wrapper py">
    <div class="typography">
      <h1 class="heading">{title}</h1>

      <h2>Purpose of this blog</h2>
      <p>
        The purpose of our blog is to provide high-quality, reliable, and
        engaging content that is relevant to our audience. We strive to maintain
        a high standard of accuracy, fairness, and integrity in all our
        articles.
      </p>

      <h2>Ethical Considerations</h2>
      <p>
        All promotional or sponsored content in the blog may be clearly marked
        as such. All content is original unless quoted or sourced from external
        entities. Fact-checking is essential. All statistics, data, and claims
        are verified from credible sources before publication.
      </p>
      <blockquote>
        <p>
          A note on AI: All our blog content is made by humans for humans. While
          generative AI tools such as ChatGPT and Bard may be used for research,
          all articles are written and verified by humans.
        </p>
      </blockquote>

      <h2>Updates & Corrections</h2>
      <p>
        We are committed to transparency and accuracy. If an error is found in
        one of our articles, we will correct it promptly and transparently. You
        may <a href="/contact">contact us</a>
      </p>

      <h2>Privacy</h2>
      <p>
        We respect the privacy of our readers and contributors. We will not
        share personal information without consent.
      </p>
    </div>
  </main>
</BaseLayout>
