---
import BaseLayout from "@layouts/BaseLayout.astro";

const title = "Editorial Policy";
const description = "Our editorial policy";
---

<BaseLayout {title} {description}>
  <main class="wrapper py typography">
    <h1>{title}</h1>
  </main>
</BaseLayout>
