---
import BaseLayout from "@layouts/BaseLayout.astro";
import Card from "@components/Card.astro";
import FirstCard from "@components/FirstCard.astro";
import TagCloud from "@components/TagCloud.astro";
import SearchField from "@components/SearchField.astro";

import { getCollection } from "astro:content";
import { filterPosts } from "@utils/helpers";

const allPosts = await getCollection("blog");
const filteredPosts = filterPosts(allPosts);
// console.log(Object.values(allPosts)[0]);

const title = "TheLoneVoice";
const description = "Welcome to my humble blog";
---

<BaseLayout {title} {description}>
  <main class="wrapper py grid">
    <div>
      {filteredPosts.slice(0, 1).map((post) => <FirstCard {post} />)}
      <div class="card-grid">
        {filteredPosts.slice(1).map((post) => <Card {post} />)}
      </div>
    </div>
    <aside class="sidebar">
      <SearchField />
      <TagCloud />
    </aside>
  </main>
</BaseLayout>
