---
import Date from "./Date.astro";
import { Image, Picture } from "astro:assets";

const { title, pubDate, coverImage, coverAlt } = Astro.props;
---

<section>
  <div class="hero-head wrapper">
    <Date date={pubDate} class="date" />
    <h1 class="hero-title">{title}</h1>
  </div>
  <Image
    src={coverImage}
    alt={coverAlt}
    widths={[400, 750, 1400]}
    sizes={`(max-width: 600px) 400px, (max-width: 1023px) 750px, (min-width: 1024px) 1400px`}
    quality={"max"}
    loading={"eager"}
    fetchpriority={"high"}
    decoding={"sync"}
    class="hero-image"
  />
</section>

<style>
  section {
    @media (min-width: 800px) {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
    }
  }

  .hero-image,
  .hero-head {
    grid-row: 1 / -1;
  }

  .hero-head {
    grid-column: 1 / 6;
    z-index: 10;
    align-self: flex-end;

    @media (min-width: 800px) {
      color: white;
      max-width: 900px;
    }
  }

  .hero-image {
    grid-column: 1 / -1;
    width: 100%;
    background-color: rgb(55 65 81);

    @media (min-width: 800px) {
      filter: brightness(0.75);
      aspect-ratio: 16 / 9;
    }
  }

  .date {
    font-size: var(--fs-5);
    padding-block-start: 0.75em;
    padding-block-end: 0.5em;

    @media (min-width: 800px) {
      font-size: var(--fs-6);
      padding-block-start: 0;
    }
  }

  h1 {
    font-size: var(--fs-8);
    font-family: var(--ff-serif);
    line-height: 1.2;
    margin-block-end: 0.5em;
    text-wrap: balance;

    @media (min-width: 800px) {
      font-size: var(--fs-9);
      margin-block-end: 2em;
    }
  }
</style>
