---
import { type CollectionEntry, getCollection } from "astro:content";
import { filterPosts, generateTagData } from "../utils/helpers";

const allPosts = await getCollection("blog");
const filteredPosts = filterPosts(allPosts);

const uniqueTags = [
  ...new Set(filteredPosts.map((post) => post.data.tags).flat()),
] as string[];

// To make typescript happy ( The shape of tagData is defined here)
interface nameSlug {
  name: string;
  slug: string;
}
const tagData: nameSlug[] = generateTagData(uniqueTags);
---

<tag-cloud>
  <div class="heading">Topics</div>
  <p>Here are all the topics we have posts on</p>
  <div class="flex-row">
    {tagData.map((tag) => <a href={`/tag/${tag.slug}`}>{tag.name}</a>)}
  </div>
</tag-cloud>

<style>
  .heading {
    margin-block-end: 0.5em;
    font-family: var(--ff-serif);
    font-size: var(--fs-6);
    font-weight: 600;
  }

  p {
    margin-block-end: 1rem;
  }

  div {
    gap: 0.5em;
  }

  a {
    background-color: #f5f5f4;
    padding: 0.5em;
    font-size: var(--fs-3);
    border-radius: 0.25rem;

    &:hover {
      background-color: #d4d4d3ff;
    }
  }
</style>
